{% extends 'base.html' %}
{% block content %}
<div class="card mx-auto">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src="https://cdn.atwilltech.com/flowerdatabase/s/small-fruit-basket-fruit-5fc479dfe27601.05975534.425.jpg" class="img-fluid"/>
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
    <div class="card-body">
      <h1 class="card-title">{{product.name.title()}}</h1>
      <hr>
      <h3><strong>Price: ${{product.price}}.00</strong></h3>
      <h3><strong>Quantity: {{product.quantity}}</strong></h3>
      {% if current_user.id %}
      <a href="/your_cart/{{product.id}}" class="btn btn-primary">Add to Cart</a>
      {% endif %}
    </div>
    </div>
</div>
{% endblock %}