{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src="https://fyf.tac-cdn.net/images/products/large/FYF-870.jpg?auto=webp&quality=60&width=690" class="img-fluid"/>
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
    <div class="card-body">
      <h1 class="card-title">{{product.name.title()}}</h1>
      <hr>
      <h3><strong>Price: {{product.price}}</strong></h3>
      <h3><strong>Quantity: {{product.quantity}}</strong></h3>
      {% if current_user.id %}
      <a href="/your_cart" class="btn btn-primary">Add to Cart</a>
      {% endif %}
    </div>
    </div>
</div>
{% endblock %}