.main-background{
    /* background: url("https://www.google.com/search?q=cool++modern+wallpapers&tbm=isch&ved=2ahUKEwiao8CoovL7AhXtHd4AHTv8BTAQ2-cCegQIABAA&oq=cool++modern+wallpapers&gs_lcp=CgNpbWcQAzIFCAAQgAQyBggAEAcQHjIGCAAQCBAeMgYIABAIEB4yBggAEAgQHjoECCMQJzoICAAQgAQQsQM6BwgAELEDEEM6CwgAEIAEELEDEIMBOggIABAIEAcQHlCwDFj9HGDPIGgAcAB4AIABRYgBtgSSAQE5mAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=OSuWY9qiJu27-LYPu_iXgAM&bih=961&biw=1920&rlz=1C1CHBF_enUS976US976#imgrc=29MBa9lrb4BtUM&imgdii=ULpfdpFLVEjLzM") no-repeat center fixed;
    background-size: cover */
}

.header-nation{
    color:rgb(73, 199, 157);
    margin-top:.00006vh;
    margin-bottom:1vh
}

.header-navbar-nation{
    color:rgb(73, 199, 157)
}


.login-card{
    margin-bottom:30vh
}

.checkout-option{
    text-align: center;
}
